<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="nav-header">
    <a href="#" class="navbar-brand">Libro de recetas</a>
</div>
   
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li RouterLinkActive ="active"> <a routerLink="/recetas">Recetas</a></li>
        <li RouterLinkActive ="active"><a routerLink="/listado-compras">Listado de compras</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown " >
                <a class="dropdown-toggle" data-toggle="dropdown">Administrar recetas  en servidor<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li style="cursor: pointer;"><a (click)="guardarReceta()">Guardar</a></li>
                    <li style="cursor: pointer;"><a (click)="extraccionRecetas()">Ver receta</a></li>
                </ul>
            </li>
         </ul>
</div>

</div>
</nav>
