<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="submit(f)" #f="ngForm">
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="nombre">Nombre</label>
                <input type="text"
                name="nombre"
                id="nombre"
                class="form-control"
                required
                 ngModel>
            </div>
            <div class="col-sm-2 form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number"
                 name="cantidad"
                  id="cantidad"
                 class="form-control"
                 required
                 [pattern]="'^[1-9]+[0-9]*$'"
                 ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{modoEdicion ? 'Actualizar' :'Añadir'}}</button>
                <button class="btn btn-danger" type="button" (click)="borrar(f)" *ngIf="modoEdicion">Borrar</button>
                <button class="btn btn-primary" type="button" (click)="limpiar()">Limpiar</button>
            </div>
        </div>
    </form>
  </div>  
</div>
