<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <h2>Mis ingredientes</h2>
    <ul class="list-group">
<!-- //someIngredients es un observable podemos recibirlo con un pipe |async luego acceder al array que nos devuelve el observable:ingredient[]
//Angular se subscribe por nosotros   -->
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of (someIngredients|async).ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
